body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: around;
    align-items: center;
    background-image: url("./images/pattern1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    height: 100vh;
}


.sidebar {
    position: fixed;
    top: 0;
    border-right: 1px solid #ccc;
    width: 350px;
    height: 100vh;
}

.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display:none
}
.splash-screen.hidden {
    display: none;
}

.main-content {
    margin-left: 350px;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    border: 1px solid rgba(255, 255, 255, 0.164);
    width: 80%;
    padding: 10px;
    
}

/* contact button */
.cta-button {
    background-color: white;
    color: black;
}

.what-i-do {
    border: 1px solid white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background: #ffffff1f;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.tech-list {
    list-style-type: none;
    padding: 0;
}

.tech-list li {
    background: #ffffff1f;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}