body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: around;
    align-items: center;
    color: black;
    scroll-behavior: smooth;
    font-weight: 200;
    font-family:"Inter", sans-serif;
    background-image: url("./images/bg.jpg");
    background-size: auto;

}



/* nav */

nav {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    /* background-color: rgba(255, 255, 255, 0.11); */
    top: 0;
}


nav ul {
    list-style: none;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.801);
    width: 20%;
    height: 100%;
    justify-content: center;
    border-radius: 10px;
   
}

nav h1{
   margin-left: 20px;
}




nav ul li {
    margin: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover{
    color: green;
}


nav a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}


#navbar h1 {
    font-size: 24px;
    font-weight: 700;
    color: white;
    border-bottom: 2px solid white;
    word-spacing: 0;
}


#navbar span {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.getintouch {

}


/* .splash-screen */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display:none
}
.splash-screen.hidden {
    display: none;
}



/* .main-content */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.header {
    width: 80%;
    padding: 10px;
    height: 350px;
    top: 520px;
    margin: 20px;  
    height: auto;
}

.header h1 {
letter-spacing: 0.2px;
word-spacing: 0px;
font-size: 68px;
color: white;   
font-weight: 700;
}

.header img {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    top: 10px;
}


.header p {
font-size: 24px;
letter-spacing: 0.2px;
word-spacing: 2px;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: lowercase;
}


/* get in touch button/link */
.header a {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    height: 50px;
    width: 125px;
    border-radius: 5px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 87, 7);
    
}





/* solve */
.solve {
   
    width: 100%;
    height: 300px;
    margin: 10px;
    padding: auto;
    color: white;
    display : block;
    align-content: center;
    justify-items: center;
    
}

.solve h3 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.solve span {
    font-size: 35px;
    font-style: italic;
}

.solve p {
    font-size: 25px;
}

/* contact button */
.cta-button {
    background-color: white;
    color: black;
}



.technologies {
    width: 100%;
    display: flex; /* Changed from block to flex for centering */
    justify-content: center; /* Centers the list horizontally */
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.tech-list {
    list-style: none;
    width: 80%;
    padding: 0; /* Remove default padding */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Creates responsive columns */
    gap: 20px; /* Space between items */
    /* Remove grid-row: 1 - this doesn't work the way you're using it */
}

.tech-list li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-list li img {
    height: 100px;
    width: 100px;
    /* Keeps aspect ratio */
}


.what-i-do  {
    /* border: 1px solid white; */
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    color: white;
}



.cards {
    width: 450px;
    height: 350px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.062);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cards h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(7, 156, 15);
    top: 0;
}


.cards img{
    height: 60px;
    width: 70px;
    top: 0;

}

.cards p {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    font-weight: 200;
    width: 80%;
}


.projects {
    background-image: url("./images/screenshot.png");
    background-size: (70%, 70%);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.menu {
    border-top-right-radius: 100px;
    /* border: 2px solid white; */
    height: 100%;
}

footer {
    border-top: 1px solid rgba(255, 255, 255, 0.342);
    width: 100%;
    height: 500px;
    overflow: visible;
    z-index: inherit;
    display: block;
    justify-items: center;
    align-content: center;
    color: white;
   
}

#contact {
     display: block;
    justify-items: center;
    align-content: center;
}

#contact h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

#contact p {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    width: 50%;
}


.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;

}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input,textarea {
    background-color: rgba(255, 255, 255, 0.123);
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;

}

input {
    height: 30px;
    font-size: 18px;
    padding: 5px;
}

textarea {
    height: 100px;
    font-size: 18px;
    padding: 5px;
}

form button {
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;    
    background-color: rgba(255, 166, 0, 0.658);
}

.form-container {
    display: block;
    justify-items: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.123);
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    height: 400px;
    top: 20px;
}

.scroll-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;

}

.scroll-up img {
    height: 70px;
    width: 70px;
    margin: 0
    
}