body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: around;
    align-items: center;
    color: black;
    scroll-behavior: smooth;
    font-weight: 200;
    font-family: Verdana, Geneva, sans-serif;
    background: linear-gradient(rgba(1, 4, 17, 0) 2.0415%, rgb(25, 13, 66) 33.3333%, rgb(79, 52, 199), rgb(186, 185, 248));
    background-repeat: no-repeat;

}

._pageTitle {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

/* nav */

nav {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.11);
    top: 0;
}


nav ul {
    list-style: none;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.253);
    width: 20%;
    height: 100%;
    justify-content: center;
    border-radius: 10px;
}




nav ul li {
    margin: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover{
    color: gree;
}


/* .splash-screen */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display:none
}
.splash-screen.hidden {
    display: none;
}



/* .main-content */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.header {
    width: 80%;
    padding: 10px;
    height: 350px;
    top: 520px;
    margin: 20px;  
}

.header h1 {
    font-family: Verdana, Geneva, sans-serif;
font-size: 24px;
letter-spacing: 0.2px;
word-spacing: 0px;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

.header img {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    top: 10px;
}


.header p {
 font-family: Verdana, Geneva, sans-serif;
font-size: 24px;
letter-spacing: 0.2px;
word-spacing: 2px;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: lowercase;
}


/* get in touch button/link */
.header a {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    height: 50px;
    width: 125px;
    border-radius: 5px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    background-color: orange;
    background: rgb(28,110,164);
background: -moz-linear-gradient(-45deg, rgb(15, 50, 73) 0%, rgb(35,136,203) 38%, rgb(20,78,117) 100%);
background: -webkit-linear-gradient(-45deg, rgb(28,110,164) 0%, rgb(35,136,203) 38%, rgb(20,78,117) 100%);
background: linear-gradient(135deg, rgb(28,110,164) 0%, rgb(35,136,203) 38%, rgb(20,78,117) 100%);
}



/* solve */
.solve {
   
    width: 80%;
    height: 300px;
    margin: 10px;
    padding: auto;
    
}

.solve span {
    font-size: 35px;
    font-style: italic;
}

.solve p {
    font-size: 25px;
}

/* contact button */
.cta-button {
    background-color: white;
    color: black;
}

.what-i-do  {
    /* border: 1px solid white; */
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:10px;
}

.tech-list {
    list-style-type: none;
    padding: 0;
    /* display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */
    width:80%

}

.tech-list li {
    background: #ffffff1f;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;

}

.tech-list li img {
    height: 20px;
    width: 50px;
}




.cards {
    height: 350px;
    border: 1px solid white;
    background-color: #ffffff1f;
    border-radius: 5px;
}

.cards h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(7, 156, 15);
}



.menu {
    border-top-right-radius: 100px;
    /* border: 2px solid white; */
    height: 100%;
}

footer {
    border: 1px solid white;
    width: 100%;
    overflow: visible;
    z-index: inherit;
}

.scroll-up {
    border: 1px solid white;
}