body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: around;
    align-items: center;
    color: black;
    scroll-behavior: smooth;
    font-weight: 200;
    font-family:"Inter", sans-serif;
    background: linear-gradient(135deg, 
        #ff9a76 0%,     /* coral/pink */
        #6b2d5c 30%,    /* purple */
        #1a1a2e 60%,    /* dark blue */
        #0f4c75 100%    /* teal */
    );
    min-height: 100vh;
    background-size: auto;

}

._pageTitle {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

/* nav */

nav {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.11);
    top: 0;
}


nav ul {
    list-style: none;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.801);
    width: 20%;
    height: 100%;
    justify-content: center;
    border-radius: 10px;
   
}

nav h1{
   margin-left: 20px;
}




nav ul li {
    margin: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover{
    color: green;
}


nav a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}





/* .splash-screen */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display:none
}
.splash-screen.hidden {
    display: none;
}



/* .main-content */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.header {
    width: 80%;
    padding: 10px;
    height: 350px;
    top: 520px;
    margin: 20px;  
}

.header h1 {
    font-family: Verdana, Geneva, sans-serif;
font-size: 24px;
letter-spacing: 0.2px;
word-spacing: 0px;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

.header img {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    top: 10px;
}


.header p {
 font-family: Verdana, Geneva, sans-serif;
font-size: 24px;
letter-spacing: 0.2px;
word-spacing: 2px;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: lowercase;
}


/* get in touch button/link */
.header a {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    height: 50px;
    width: 125px;
    border-radius: 5px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    background-color: orange;
    background: rgb(28,110,164);
background: -moz-linear-gradient(-45deg, rgb(15, 50, 73) 0%, rgb(35,136,203) 38%, rgb(20,78,117) 100%);
background: -webkit-linear-gradient(-45deg, rgb(28,110,164) 0%, rgb(35,136,203) 38%, rgb(20,78,117) 100%);
background: linear-gradient(135deg, rgb(28,110,164) 0%, rgb(35,136,203) 38%, rgb(20,78,117) 100%);
}



/* solve */
.solve {
   
    width: 80%;
    height: 300px;
    margin: 10px;
    padding: auto;
    color: white;
    
}

.solve span {
    font-size: 35px;
    font-style: italic;
}

.solve p {
    font-size: 25px;
}

/* contact button */
.cta-button {
    background-color: white;
    color: black;
}

.what-i-do  {
    /* border: 1px solid white; */
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:10px;
    color: white;
}

.technologies {
    width: 100%;
    display: flex; /* Changed from block to flex for centering */
    justify-content: center; /* Centers the list horizontally */
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.tech-list {
    list-style: none;
    width: 80%;
    padding: 0; /* Remove default padding */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Creates responsive columns */
    gap: 20px; /* Space between items */
    /* Remove grid-row: 1 - this doesn't work the way you're using it */
}

.tech-list li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-list li img {
    height: 100px;
    width: 100px;
    /* Keeps aspect ratio */
}






.cards {
    height: 350px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.062);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cards h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(7, 156, 15);
    top: 0;
}


.cards img{
    height: 50px;
    width: 50px;
    top: 0;

}


.menu {
    border-top-right-radius: 100px;
    /* border: 2px solid white; */
    height: 100%;
}

footer {
    border: 1px solid white;
    width: 100%;
    overflow: visible;
    z-index: inherit;
}

.scroll-up {
    border: 1px solid white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;

}