body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: around;
    align-items: center;
    color: black;
    scroll-behavior: smooth;
    font-weight: 200;
    font-family:"Inter", sans-serif;
    background-image: url("./images/bg.jpg");
    background-size: auto;


}



/* nav */

nav {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    /* background-color: rgba(255, 255, 255, 0.11); */
    top: 0;
}


nav ul {
    list-style: none;
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    border-radius: 10px;
   
}

@media (max-width: 991px) {
    nav ul {
       display: none;
    }
}

@media (max-width: 768px) {
    nav ul {
       display: none;
    }
}



nav div{
    @media (max-width: 768px) {
        display: flex;
        margin-left: 20px;}
}

nav h1{
   margin-left: 20px;
}




nav ul li {
    margin: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover{
    color: green;
}


nav a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin-right: 10px;

    @media (max-width: 768px) {
        font-size: 16px;
        margin-right: 25px;
    }
}


#navbar h1 {
    font-size: 24px;
    font-weight: 700;
    color: white;
    border-bottom: 2px solid white;
    word-spacing: 0;
}


#navbar span {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/* .getintouch {

} */


/* .splash-screen */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display:none
}
.splash-screen.hidden {
    display: none;
}



/* .main-content */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.342);
}



.header {
    width: 80%;
    padding: 10px;
    height: 350px;
    top: 520px;
    margin: 20px;  
    height: auto;
    display: flex;
    flex-direction: row;
}

.header h1 {
letter-spacing: 0.2px;
word-spacing: 0px;
font-size: 68px;
color: white;   
font-weight: 700;
}

.header img {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    top: 10px;
}


.header p {
font-size: 24px;
letter-spacing: 0.2px;
word-spacing: 2px;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: lowercase;
color: white;
}


/* get in touch button/link */
.header a {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    height: 50px;
    width: 125px;
    border-radius: 5px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 87, 7);
    
}


.header-image img {
    display: block;
    justify-items: center;
    align-content: center;
    margin-left: 50px;
    height: 480px;
    width: 280px;
    top: 20px;
    border-radius: 10px;
    position: relative;
}




/* solve */
.solve {
   
    width: 100%;
    height: 300px;
    margin: 10px;
    padding: auto;
    color: white;
    display : block;
    align-content: center;
    justify-items: center;
    top: 60px;    

    @media (max-width: 768px) {
        height: auto;
        text-align: center;
    }
    
}

.solve h3 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.solve span {
    font-size: 35px;
    font-style: italic;
}

.solve p {
    font-size: 25px;
}

/* contact button */
.cta-button {
    background-color: white;
    color: black;
}



.technologies {
    width: 100%;
    display: flex; /* Changed from block to flex for centering */
    justify-content: center; /* Centers the list horizontally */
    align-items: center;
    flex-direction: column;
    margin: 20px;
    color: white;
}

.tech-list {
    list-style: none;
    width: 100%;
    padding: 0; /* Remove default padding */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Creates responsive columns */
    gap: 20px; /* Space between items */
    /* Remove grid-row: 1 - this doesn't work the way you're using it */
}

.tech-list li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-list img {
    height: 30px;
    width: 30px;
    /* Keeps aspect ratio */
}


.what-i-do  {
    /* border: 1px solid white; */
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    color: white;
}

@media (max-width: 768px) {
    .what-i-do {
        grid-template-columns: 1fr; /* Stack cards vertically on smaller screens */
        width: 100%;
        border: 1px solid white;
    }
}



.cards {
    width: 450px;
    height: 350px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.062);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media (max-width: 768px) {
    .cards {
        width: 90%; /* Adjust card width for smaller screens */
        height: auto; /* Allow height to adjust based on content */
    }


}

@media (max-width: 480px) {
    .cards {
        width: 100%; /* Full width on very small screens */
    }
}


.cards h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(7, 156, 15);
    top: 0;
}


.cards img{
    height: 60px;
    width: 70px;
    top: 0;

}

.cards p {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    font-weight: 200;
    width: 80%;
}


.projects {
    /* background-image: url("./images/screenshot.png"); */
    background-size: (100%, 100%);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    color: white;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    @media (max-width: 768px) {
        height: auto;
        text-align: left;
        background-image: none;

    }
   
}

.project-cards{
    display: block;
    justify-items: center;
    align-content: center;
    top: 50px;
    margin: 20px;
}

.project-card a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.project-card a:hover {
    color: green;
    border-bottom: 1px solid green;
}

.project-card p {
    font-size: 18px;
    font-weight: 200;
    width: 80%;
}

footer {
    width: 100%;
    overflow: visible;
    display: block;
    justify-items: center;
    align-content: center;
    color: white;

    @media (max-width: 768px) {
        
        text-align: center;

    }
   
}

#contact {
     display: block;
    justify-items: center;
    align-content: center;
}

#contact h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

#contact p {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    width: 50%;
}

#contact a img {
    height: 30px;
    width: 30px;
    margin: 0 10px;
    padding: 0;
}


.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .footer-content {
        flex-direction: column;
    }
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

input,textarea {
    background-color: rgba(255, 255, 255, 0.123);
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;

}

input {
    height: 30px;
    font-size: 18px;
    padding: 5px;
    color: white;
}

textarea {
    height: 100px;
    font-size: 18px;
    padding: 5px;
    color: white;

}

form button {
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;    
    background-color: rgba(26, 77, 5, 0.664);
}

.form-container {
    display: block;
    justify-items: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.123);
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    height: 400px;
    top: 20px;
}

.scroll-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;

    @media (max-width: 768px) {
        height: 40px;
        width: 40px;
        left: 10px;
    }

}

.scroll-up img {
    height: 70px;
    width: 70px;
    margin: 0
    
}